Past events

<% @previous_events.each do |e| %>
    <p><%= link_to e.name, event_path(e) %></p>
    <p><%= e.location %></p>
    <p><%= e.date %></p>
    <p><%= e.description %></p>
<% end %>

Upcoming Events

<% @upcoming_events.each do |e| %>
    <p><%= link_to e.name, event_path(e) %></p>
    <p><%= e.location %></p>
    <p><%= e.date %></p>
    <p><%= e.description %></p>
<% end %>